###########
## Maven ##
###########
target/

#############
## Eclipse ##
#############
.settings/
.classpath
.project
debug.log

##############
## IntelliJ ##
##############
.idea/

###################
## Project Files ##
###################
FailedTestsScreenshots/
!FailedTestsScreenshots/.gitkeep
ScenesExtentResults/
!ScenesExtentResults/.gitkeep
ScenesLoggerFiles/
!ScenesLoggerFiles/.gitkeep
