###########
## Maven ##
###########
target/

#############
## Eclipse ##
#############
.settings/
.classpath
.project
debug.log

##############
## IntelliJ ##
##############
.idea/

###################
## Project Files ##
###################
FailedTestsScreenshots/*
ScenesExtentResults/*
ScenesLoggerFiles/*

#exception to the rule
!FailedTestsScreenshots/.gitkeep
!ScenesExtentResults/.gitkeep
!ScenesLoggerFiles/.gitkeep
